body {
  background: #fdfcfa;
  color: #7c7ba5;
  text-align: center;
  font-family: PMingLiU;
  padding-top: 100px;
}
button {
  background: #bdbedd;
  border: none;
  color: #fdfcfa;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer; 
  font-family: PMingLiU;
}
button:hover {
  background: #7c7ba5;
 
}
